<div class="login">
    <div *ngIf="login == true">
        <form>
            <div class="title">Welcome back!</div>
            <div class="item">
                <div class="label">E-mail</div>
                <input type="text" name="email" [(ngModel)]="loginModel.email">
            </div>
            <div class="item">
                <div class="label">Password</div>
                <input type="password" name="password" [(ngModel)]="loginModel.password">
            </div>
            <button (click)="onLogin()">Log in</button>
            <div class="switch" (click)="login = false">Create new account</div>
        </form>
    </div>

    <div *ngIf="login == false">
        <form>
            <div class="title">Join us!</div>
            <div class="item">
                <div class="label">E-mail</div>
                <input type="text" name="email" [(ngModel)]="registerModel.email">
            </div>
            <div class="item">
                <div class="label">Password</div>
                <input type="password" name="password" [(ngModel)]="registerModel.password">
            </div>
            <div class="item">
                <div class="label">Confirm password</div>
                <input type="password" name="password2" [(ngModel)]="registerModel.password2">
            </div>
            <button (click)="register()">Sing up</button>
            <div class="switch" (click)="login = true">Already have an account</div>
        </form>
    </div>
</div>