<div class="admin">
    <form>
        <div class="title">Adding new movie</div>
        <div class="item">
            <div class="label">Image</div>
            <input type="file" name="image" [(ngModel)]="panelModel.image">
        </div>
        <div class="item">
            <div class="label">Title</div>
            <input type="text" name="title" [(ngModel)]="panelModel.title">
        </div>
        <div class="item">
            <div class="label">Description</div>
            <input type="text" name="description" [(ngModel)]="panelModel.description">
        </div>
        <div class="item">
            <div class="label">Ganre</div>
            <input type="text" name="ganre" [(ngModel)]="panelModel.ganre">
        </div>
        <div class="item">
            <div class="label">Details</div>
            <textarea name="" id="" cols="30" rows="10" name="details" [(ngModel)]="panelModel.details"></textarea>
        </div>
        <button (click)="onClick()">New movie</button>
    </form>
</div>