.card {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    transition: 0.2s;
    cursor: pointer;
}
.card:hover {
    border: 1px solid #b1b1b1;
    transition: 0.2s;
}
.card_img {
    width: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.card_text {
    padding: 1rem;
}
img {
    height: 140px;
    min-width: 100%;
    min-height: 100%;
}
.card_title {
    font-size: 20px;
    font-weight: bold;
}
.card_desc {
    font-size: 14px;
    color: #868686;
}