<div class="header">
  <div class="header_logo">moviefinder</div>
  <div class="header_tabs">
    <div class="header_tabs__item" routerLink="/home" routerLinkActive="active">Home</div>
    <div class="header_tabs__item" routerLink="/find" routerLinkActive="active">Find movie</div>
  </div>
  <div *ngIf="!logged" class="header_logo">
    <button routerLink="/login">Login</button>
  </div>
  <div *ngIf="logged" class="header_logo">
    <button (click)="onLogout()">Logout</button>
  </div>
</div>
<router-outlet></router-outlet>